
div img {
    height: 25%;
    width: 25%;

}

#Titulos {
    padding: 5%;
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.75em;
    letter-spacing: .2em;      
    line-height: 1.1em;  
    text-transform: lowercase;
}  
    
.imagen {    
    display: inline-block;  
    width: 25%; 
    height: 25%;     
    margin-left: 5%;
    padding-left: 5%;
}

