@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    C/ Robertico Gomez<br />
    Nuevo Puerto #94, La Julia<br />
    <abbr title="Phone">Telefono:</abbr>
    879.555.0000
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:marinezbay94@gmail.com">marinezbay94@gmail.com</a><br />
    <strong>Mercadeo:</strong> <a href="mailto:juanpelito@hotmail.com">juanpelito@hotmail.com</a>
</address>